* {
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Open Sans';
  background-image: url('https://img.freepik.com/free-vector/brown-soil-texture-background_1308-20483.jpg');
  background-size: cover;
}