* {
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Open Sans';
}

body {
  background-image: url('https://img.freepik.com/free-vector/brown-soil-texture-background_1308-20483.jpg');
  background-size: cover;
}

#container {
  display: flex;
  flex-direction: row;
}

#video-container {
  display: flex;
  flex-direction: column;
  --width: 67%;
  width: var(--width);
}

#chat-container {
  display: flex;
  flex-direction: column;
  --width: 33%;
  width: var(--width);
  margin: 0 0 1em 0;
}

#videos {
  display: flex;
  flex-direction: row;
}

button {
  margin: 0 20px 0 0;
  width: 83px;
  background-image: url('https://img.freepik.com/free-vector/brown-soil-texture-background_1308-20483.jpg');
}

button#hangupButton {
  margin: 0;
}

video {
  --width: 48%;
  width: var(--width);
  /* height: calc(var(--width) * 0.75);
  margin: 0 0 20px 0;
  vertical-align: top; */
}

video#localVideo {
  margin: 0 10px 0 0;
}

div.box {
  margin: 1em;
}

#form {
  background: rgba(0, 0, 0, 0.25);
  padding: 0.25rem;
  display: flex;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

#input {
  border: none;
  padding: 0 0.5em;
  flex-grow: 1;
  border-radius: 1em;
  background-color: gainsboro;
}

#input:focus {
  outline: none;
}

#form>button {
  background: #333;
  border: none;
  padding: 0.25em 0em;
  margin: 0.25em;
  border-radius: 3px; 
  outline: none;
  color: gainsboro;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  --height: 85%;
  height: var(--height);
  background: rgba(0, 0, 0, 0.15);
}

#messages>li:nth-child(odd) {
  background: gainsboro;
}

@media screen and (max-width: 400px) {
  button {
    width: 83px;
    margin: 0 11px 10px 0;
  }

  video {
    height: 90px;
    margin: 0 0 10px 0;
    width: calc(50% - 7px);
  }

  video#localVideo {
    margin: 0 10px 20px 0;
  }
}